<h1> Fitzgerald </h1>
<h3>  Writing is so much more than just spelling and comma usage. Fitzgerald is a text editor that edits for style. Of course, all style edit suggestions need to be taken with a grain of salt; everybody has their own unique writing style. But, Fitzgerald points out places where you might consider changing to increase variety, concision, and eloquence. </h3>

<form action="/" method="POST">
	<h3> What genre is your piece? </h3>
	<label for="genre">
		<input type="radio" name="genre" value="poem" required/>
			Poem
	</label>
	<label for="genre">
		<input type="radio" name="genre" value="prose" required/>
			Prose
	</label>
	<label for="genre">
		<input type="radio" name="genre" value="formal essay" required/>
			Formal essay
	</label>
<br> <br> <br>
	
	<h3> Please paste your piece below. </h3>
	<input type="text" name="text">

	<input type="submit">
</form>