<h1> Here are some stats about your writing. </h1>

<h3> You have <%= @wordcount %> words. You have <%= @sentencecount %> sentences."</h3>

<h3> These are the words that show up more than 2 times in your poem.  While repetition can sometimes serve a purpose, using the same adjective/verb/noun multiple times is boring.  Consider revising. </h3>

<h5> <%= @sortedrepeats %>